@keyframes rotate {
  8% {
    transform: scale(1) rotate(360deg);
  }
  50% {
    transform: scale(0.8) rotate(-360deg);
  }
  100% {
    transform: scale(1) rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: #1a1a1a;
}

.spinner {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 48%;
  transition: translate(-50%, -50%);
}

.spinner-inner {
  width: 100%;
  height: 100%;
  border: 0.5rem solid #1a1a1a;
  border-radius: 50%;
  border-top-color: #62DB56;
  border-bottom-color: #197bad;
  animation: rotate 10s linear infinite;
}
