* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  background: #fff;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  z-index: 1;
}

.container .card {
  position: relative;
  width: 390px;
  height: 200px;
  margin: 5px;
  padding: 5px 10px;
  box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  background: rgba(1, 1, 1, 0.5);
  color: #8c8c8c;
  overflow: hidden;
  border-top: 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.container .content {
  transition: 0.5s;
  transform: translateY(20px);
  opacity: 1;
}

.container .content h2 {
  position: absolute;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.container .content .c-no, .container .content .valid {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.container .content .c-no {
  padding: 10px 0;
}

.container .content .name {
  padding: 15px 5px;
}

.container .content .sign, .container .content .cvv {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container .content .sign-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 20px;
  background: #fff;
}
